.lmj-banner {
    display: flex;
	align-items: flex-start;
	justify-content: left;
    color: black;
    padding: 32px;
    border-bottom: solid 3px black;
}
.lmj-title {
	padding-left: 32px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}